:root {
  --acc: #b8fe22;
  --green: #74ffa7;
  --bg: #f6f6f6;
  --bord: #bfbfbf96;
  --blue: #00acff;

  --sub: 0.8vw;
  --p: 1vw;
  --h1: 3vw;
  --h2: 2vw;

  --sidebar-cont-h: calc(100vh - 85px);
  --sidebar-h: calc(100vh - 85px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar-y::-webkit-scrollbar {
  width: 0;
}

.no-scrollbar-x::-webkit-scrollbar {
  height: 0;
}

.no-scrollbar-y,
.no-scrollbar-x {
  scrollbar-width: none;
}

/* src/index.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
} */

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-slide-up {
    animation: slide-up 0.25s ease-out forwards;
  }
